/* -*- mode:css; -*- */

configuration {
    modi: "run,drun";
    show-icons: true;
    font: "mononoki Nerd Font 14";
    history: false;
}

@theme "/home/harish/.config/rofi/themes/squared-nord.rasi"
